{
  "extends": "airbnb",
  "plugins": ["react"],
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": 0,
    "no-console": 1,
    "comma-dangle": 0,
    "no-undef": 0,
    "no-unused-vars": 1,
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "quote-props": 0,
    "no-else-return": 0,
    "func-names": 0,
    "class-methods-use-this": 0,
    "space-before-function-paren": ["error", "never"],
    "max-len": ["warn", 100, { "ignorePattern": "^import|throw", "ignoreComments": true }],
    "no-underscore-dangle": 0,
    "spaced-comment": 0,
    "no-shadow": ["warn", { "hoist": "functions" }],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "meteor": true
  }
}
